/*An breath commentary to demonstrate how to use it in CSS*/
* {
    margin-top: 20px;
    margin-right: 0px;
    ;
    margin-bottom: 10px margin-left: 50px;
    color: burlywood;
}

/*You can use only the padding command insted of putting all the "padding family" like i do below*/
p {
    color: black;
    background-color: cornsilk;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
}

img {
    width: 200px;
    height: 200px;
}

.divstyle {
    background-color: coral;
}